#about {
  display: flex;
  justify-content: space-around;
  align-items:center;
}

#about .profile-image {
  display:flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: 4rem;
}

#about h2 {
  font-size: 3.5rem;
}

#about p {
  font-size: 2.5rem;
}

#about .description {
  width: min(60%, 90vw)
}

#about img {
  height: 20rem;
  border-radius: 50%;
}