#home {
  width: calc(100% - 2rem);
  background: #111;
  color: #f5f5f5;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
}

#home header {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#home header p {
  opacity: .7;
}

#home main {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

#home main article {
  margin: 1rem;
  transition: all .25s ease;

  display:flex;
  align-items: end;
  justify-content: space-between;
  padding: 2rem;
  font-weight: 500;

  background: linear-gradient(to right top, purple, orange);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 1rem #333;
}

#home main article button {
  display:flex;
  align-items:center;
  background: #ccc;
  border-radius: 2rem;
  padding: .5rem 1rem .5rem 1.25rem;
  color: #000;
  gap: .75rem;
  transition: all .2s ease;

  position: relative;
  z-index: 0;
}

#home main article button::after {
  content: '';
  position:absolute;
  z-index: -1;

  background: white;
  left:.75rem;
  width:90%;
  height:100%;
  border-radius: 2rem;
}

#home main article button:hover {
  text-shadow: 0 0 .2rem #ccc;
  box-shadow: 0 0 .2rem #f5af19;
  transform: translateX(-1rem);
  background: #f5af19;
}