:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  cursor: crosshair;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: yellow;
  color: black;
}

img::selection {
  background: none;
}

html {
  scroll-behavior: initial;
}

button {
  all: unset;
  display:flex;
  align-items: center;
  cursor:pointer;
}

ul {
  list-style: none;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #ece9e6, #ffffff);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section {
  padding: 1rem;
  min-height: 87.5vh;
}

.rounded {
  border-radius: 2rem;
}

header {
  height: 10vh;
  
  display:flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display:flex;
  gap: 1rem;
}




#projects h2 {
  font-size: 3.5rem;
}

#projects .projects-gallery {
  background: #111;
  color: #f5f5f5;
  width: calc(100vw - 2rem);
  height: min(100vh, 120vh);
  margin: 0 auto;

  display:grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 1fr;
}

#projects .projects-gallery header {
  display:flex;
  justify-content: space-around;
  align-items:center;
}

#projects .projects-gallery header .controls {
  display:flex;
  align-items:center;
  gap: 1rem;
}

#projects .projects-gallery header .controls button {
  background: #444;
  border-radius: 50%;
  padding: .5rem;
  
}

#contact h2 {
  font-size: 3.5rem;
}


footer {
  background: #000;
  color: #fff;
  min-width: 100%;
  min-height: 70vh;
  border-radius: 2rem 2rem 0 0;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}



footer header {
  display: flex;
  flex-direction: column;
  margin-block: 10rem;
}

footer header h4 {
  font-size: 6rem;
  font-weight: 500;
  padding-block: 2rem;
}

footer div {
  width:100%;
  display:flex;
  justify-content: space-around;
  margin-block: 5rem;
}

footer figure img {
  border-radius: 50%;
  height: 12rem;
  display:block;
  margin: 1rem 0;
  border: 3px solid transparent;
  transition: all .25s ease;
}

footer figure img:hover {
  border: 3px solid #fff;
  box-shadow: 0 0 .15rem #ccc;
}

footer figure:hover figcaption {
  border-bottom: 2px solid #fff;
  text-shadow: 0 0 .15rem #ccc;
}

footer figure figcaption {
  font-size: 1.7rem;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all .25s ease;
}

footer div nav {
  display:flex;
  gap: 4rem;
}

footer div nav ul {
  display:flex;
  flex-direction: column;
  gap: .75rem;
}

footer div nav li a {
  color: white;
  opacity: .7;
  font-weight: 400;
  font-size: 1.25rem;
  transition: all .1s ease;
}

footer div nav li a:hover {
  opacity: 1;
  text-shadow: 0 0 .15rem #ccc;
}

footer div nav h5 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

footer p {
  opacity: .7;
  font-weight: 500;
  margin-block: 4rem;
}

footer .divisor {
  display:block;
  width:90%;
  height:2px;
  background: #333;
}




